<include file="Public/headerM" />
<link href="__PUBLIC__/mui/css/miu.picker.min.css" rel="stylesheet">
<script src="__PUBLIC__/mui/js/miu.picker.min.js"></script>
<title>PVD生产参数</title>

<style>
    .mui-input-row label {
        width: 54%;
    }

    .mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea {
        width: 46%;
    }

    .span-size{
        font-size: 12px;
    }

    .font-size{
        font-size: 13px;
    }

</style>

<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">PVD110-生产参数</h1>
</header>

<div class="mui-content">

    <div  class="mui-active">
        <form class="mui-input-group">
            <div class="mui-input-row">
                <label>生产批号</label>
                <input type="text" class="bigger font-size" placeholder="请输入" readonly="readonly" value="TS-1506-032-004-21">
            </div>

            <div class="mui-input-row">
                <label>流程卡编号</label>
                <input type="text" class="bigger" placeholder="请输入" readonly="readonly" value="60-15-11397">
            </div>

            <div class="mui-input-row">
                <label>设备编号:</label>
                <input type="text" class="bigger" placeholder="请输入" readonly="readonly" value="601PVD01">
            </div>

            <div class="mui-input-row">
                <label>设备名称</label>
                <input type="text" class="bigger" placeholder="请输入" readonly="readonly" value="PVD01生产线">
            </div>


            <div class="mui-input-row">
                <label>拉伸/普通</label>
                <input type="number" class="bigger" placeholder="系统带出" readonly="readonly" >
            </div>

            <div class="mui-input-row">
                <label>泡棉编号</label>
                <input type="number" class="bigger" placeholder="系统带出" readonly="readonly" >
            </div>

            <div class="mui-input-row">
                <label>长/宽/厚</label>
                <input type="number" class="bigger" placeholder="系统带出" readonly="readonly" >
            </div>

            <div class="mui-input-row">
                <label>本底真空度
                    <span class="span-size">(10-2PA)</span></label>
                <input type="number" class="bigger" placeholder="请输入" value="2">
            </div>

            <div class="mui-input-row">
                <label>上线时间</label>
                <input type="text" id="starTime" class="bigger" readonly="readonly" placeholder="系统带出">
            </div>

            <div class="mui-input-row">
                <label>抽空时间</label>
                <input type="text" id="endTime" class="bigger" readonly="readonly" placeholder="获取系统当前时间">
            </div>

            <div class="mui-input-row">
                <label>抽到时间</label>
                <input type="text" id="endTime" class="bigger" readonly="readonly" placeholder="获取系统当前时间">
            </div>

            <div class="mui-input-row">
                <label>抽空累计用时</label>
                <input type="text" id="endTime" class="bigger" readonly="readonly" placeholder="计算得出">
            </div>
            <div class="mui-input-row">
                <label>启靶时间</label>
                <input type="text" id="endTime" class="bigger" readonly="readonly" placeholder="获取系统当前时间">
            </div>

            <div class="mui-input-row">
                <label>完成时间</label>
                <input type="text" id="endTime" class="bigger" readonly="readonly" placeholder="获取系统当前时间">
            </div>

            <div class="mui-input-row">
                <label>镀膜速度</label>
                <input type="text" id="endTime" class="bigger" readonly="readonly" placeholder="系统带出">
            </div>

        </form>
    </div>

    <div style="padding: 10px 10px;">
        <div id="segmentedControl" class="mui-segmented-control">
            <a class="mui-control-item mui-active" href="#item1">
                靶材1#
            </a>
            <a class="mui-control-item" href="#item2">
                靶材2#
            </a>
        </div>
    </div>

    <div id="item1" class="mui-control-content mui-active">
        <form class="mui-input-group">

            <div class="mui-input-row">
                <label>模版编号</label>
                <input type="text" class="bigger" placeholder="系统带出">
            </div>

            <div class="mui-input-row">
                <label>镍靶材编号</label>
                <input type="text" class="bigger" readonly="readonly" placeholder="系统带出">
            </div>

            <div class="mui-input-row">
                <label>使用前厚度(mm)</label>
                <input type="text" class="bigger" placeholder="系统带出">
            </div>

            <div class="mui-input-row">
                <label>靶才电流(A)</label>
                <input type="text" class="bigger" placeholder="系统带出">
            </div>
            <div class="mui-input-row">
                <label>靶才电压(V)</label>
                <input type="text" class="bigger" placeholder="系统带出">
            </div>

            <div class="mui-button-row">
                <button type="button" class="mui-btn mui-btn-primary" onclick="return false;">确认</button>&nbsp;&nbsp;
                <button type="button" class="mui-btn mui-btn-danger" onclick="return false;">取消</button>
            </div>
        </form>
    </div>

    <div id="item2" class="mui-control-content">
        <form class="mui-input-group">

            <div class="mui-input-row">
                <label>模版编号</label>
                <input type="text" class="bigger" placeholder="系统带出">
            </div>

            <div class="mui-input-row">
                <label>镍靶材编号</label>
                <input type="text" class="bigger" readonly="readonly" placeholder="系统带出">
            </div>

            <div class="mui-input-row">
                <label>使用前厚度(mm)</label>
                <input type="text" class="bigger" placeholder="系统带出">
            </div>

            <div class="mui-input-row">
                <label>靶才电流(A)</label>
                <input type="text" class="bigger" placeholder="系统带出">
            </div>
            <div class="mui-input-row">
                <label>靶才电压(V)</label>
                <input type="text" class="bigger" placeholder="系统带出">
            </div>

            <div class="mui-button-row">
                <button type="button" class="mui-btn mui-btn-primary" onclick="return false;">确认</button>&nbsp;&nbsp;
                <button type="button" class="mui-btn mui-btn-danger" onclick="return false;">取消</button>
            </div>
        </form>
    </div>


</div>


<script>
    (function($) {
        $.init();
        //var result = $('#result')[0];
        var btns = $('.btn');
        btns.each(function(i, btn) {
            btn.addEventListener('tap', function() {
                var optionsJson = this.getAttribute('data-options') || '{}';
                var options = JSON.parse(optionsJson);
                var id = this.getAttribute('data-id');
                var result = document.getElementById(id);
                /*
                 * 首次显示时实例化组件
                 * 示例为了简洁，将 options 放在了按钮的 dom 上
                 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
                 */
                var picker = new $.DtPicker(options);
                picker.show(function(rs) {
                    result.innerText = rs.text;
                    picker.dispose();
                });
            }, false);
        });
    })(mui);
</script>

<script>
    $().ready(function () {

        /**
         * 日期选择
         */
        $("#starTime").click(function () {

            var myDate = new Date();
            myDate.getFullYear();    //获取完整的年份(4位,1970-????)
            myDate.getMonth();       //获取当前月份(0-11,0代表1月)
            myDate.getDate();        //获取当前日(1-31)
            myDate.getDay();         //获取当前星期X(0-6,0代表星期天)
            myDate.getTime();        //获取当前时间(从1970.1.1开始的毫秒数)
            myDate.getHours();       //获取当前小时数(0-23)
            myDate.getMinutes();     //获取当前分钟数(0-59)
            // 获取系统当前时间

            var dtpicker = new mui.DtPicker({
                type: "datetime",//设置日历初始视图模式
                beginDate: new Date(2017, 06, 01),//设置开始日期
                endDate: new Date(2099, 12, 31),//设置结束日期
                labels: ['年', '月', '日','时','分'],//设置默认标签区域提示语
                customData: {
                    "h": [
                        { value: "8", text: "8" },
                        { value: "9", text: "9" },
                        { value: "10", text: "10" },
                        { value: "11", text: "11" },
                        { value: "12", text: "12" },
                        { value: "13", text: "13" },
                        { value: "14", text: "14" },
                        { value: "15", text: "15" },
                        { value: "16", text: "16" },
                        { value: "17", text: "17" }

                    ],
                    "i": [
                        { value: "30", text: "00" },
                        { value: "00", text: "30" }
                    ]
                }
            });

            dtpicker.show(function(items) {
                $("#starTime").text(items.value);
            });
        });

    })
</script>


</body>
</html>